<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <title>Document</title>
    </head>
    <body>
        <div class="landing">
            <h1 class="titre titre--64">Les Pros de la com</h1>
            <p class="texte texte--24">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor
            <div class="landing__boutons">
                <a href="" class="bouton bouton--primary">accueil</a>
                <a href="" class="bouton bouton--secondary">Connexion</a>
            </div>
        </div>
        <script src="{{asset('build/app.js')}}"></script>
    </body>
</html>

