@use '../abstract/' as *;

.header{
    @extend %flex-row-between-center;
    padding-inline: clamp(1rem, 0.5714rem + 2.1429vw, 2.5rem);
    padding-block: 1rem;
    background-color: $primary-95;
    border-bottom: $secondary-45 solid 4px;
    box-shadow: 0px 3px 17px -5px  $neutral-35;


    &__bouton{
        @extend %flex-row-center;
        gap:clamp(0.125rem, -0.0545rem + 0.8974vw, 1rem);
        
        .bouton{
            font-size: clamp(0.875rem, 0.8237rem + 0.2564vw, 1.125rem);
            padding: clamp(0.425rem, 0.4934rem + 0.7018vw, 0.8rem) clamp(0.5rem, 0.3974rem + 0.5128vw, 1rem);
        }
        
    }


}