@font-face {
    font-family: Merienda;
    src: url(../font/Merienda/Merienda-VariableFont_wght.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(../font/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}