<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{asset("build/app.css")}}">
        <title>{% block title %}Les pros du web | {% endblock %}</title>
    </head>
    <body>
        
        <header></header>
        
        <main>
            {% block body %}{% endblock %}
        </main>
        
        <footer></footer>

    </body>
    <script src="{{asset("build/app.js")}}"></script>
    <script src="{{asset("js/custom.js")}}"></script>
    {% block script %}{% endblock %}
</html>